body{
    font-family: 'Trebuchet MS',Arial, sans-serif;
    background-color: #FFF;
    color: #555;
}
h1,h2,h3,h4,h5{
    color: #362C20;
}
h1,h2,h3{
    font-family: 'century gothic', Arial;
    background-color: #FFF;
}
a:hover{
    font-size: 20px;
}
